## editors and ides

### vim
*.un~
Session.vim

### eclipse
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# CDT- autotools
.autotools

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

# Annotation Processing
.apt_generated/
.apt_generated_test/

# Scala IDE specific (Scala & Java development for Eclipse)
.cache-main
.scala_dependencies
.worksheet

### IDEA
.idea
*.iml

## os-specific noise files

### linux flavors
.directory

### osx
.DS_Store
._*
.Spotlight-V100
.Trashes

### windows
Desktop.ini
$RECYCLE.BIN/
Thumbs.db

## commonly used temp files and directories
*.log
*.pid
log
logs
tmp
temp

## tags, gtags, etags, ctags
GPATH
GRTAGS
GSYMS
GTAGS
TAGS
